<%# <div class="container-fluid"> %>
<%# <div class="row"> %>
<div class="col" id="main">
	<div class="title">
		<span><i class="fa fa-user"></i></span><span>
			<h1>About</h1>
		</span>
	</div>
	<div class="col-md-12" id="paper">
		<div class="row">
			<div class="col-md-6">
				<div class="row inner-title-row">
					<h3 class="inner-title">PERSONAL BIO</h3>
					<div class="bio-info" style="display: flex; justify-content: space-between;">
						<span>
							<p><i class="fa fa-envelope"></i>sample@email.com</p>
						</span>
						<span>
							<p><i class="fa fa-phone"></i>510-221-7198</p>
						</span>
						<span>
							<p><i class="fa fa-link"></i>www.sample.com</p>
						</span>
					</div>
				</div>
				<div class="row" id="about-me">
					<div class="card personal-bio-card">
						<div class="card-body">
							<p>About Me</p>
							<div class="box-title-border"></div>
							<p class="card-text" style="margin-top:15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Iaculis at erat pellentesque adipiscing commodo. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Mattis aliquam faucibus purus in massa tempor nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Iaculis at erat pellentesque adipiscing commodo. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Mattis aliquam faucibus purus in massa tempor nec.Iaculis at erat pellentesque adipiscing commodo.</p>
							<a class="card-link">read more</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6" style="height:100%;">
				<div id="photos-section">
					<div class="row">
						<div class="card">
							<%= image_tag "jason.jpg",  :class =>"card-img-top"%>
							<div class="card-body">
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--paper end-->
		</div>
		<!--main end-->
		<!--row-->
	</div>
</div>
