<div class="col" id="main">
	<div class="title">
		<span><i class="fa fa-user"></i></span><span>
			<h1>RESEARCH</h1>
		</span>
	</div>
	<div class="col-md-12" id="paper">
		<div class="row" style="padding-left: 15px">
			<div class="col-md-6" class="left-side">
				<div class="row" class="inner-title-row">
					<h3 class="inner-title">RESEARCH PROJECTS</h3>
				</div>
				<div class="row">
					<div class="navigator">
						<div class="index">
							<span class="item">1/4</span>
						</div>
						<span class="item period">Research Period: 2019-2020</span>
						<div class="navigate">
							<span class="item"><i class="fa fa-chevron-left"></i></span>
							<span class="item"><i class="fa fa-chevron-right"></i></span>
						</div>
					</div>
				</div>
				<!-- <div class="row" id="research-photo">
					<div class="research-photo">
						<%= image_tag "jason.jpg", :class => "research-project-photo" %>
					</div>
				</div>-->
				<div class="row" id="research-title">
					<div class="card card-research-summary">
						<%= image_tag "jason.jpg", :class => "card-image-top research-project-photo" %>
						<div class="card-body summary">
							<h4 class="card-title">Research Project Name</h4>
							<div class="box-title-border"></div>
														
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="card-link">read more</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6" class="right-side">
				<div class="row" id="relevant-publications">
					<div class="card relevant-publications">
						<div class="card-body">
							<p>Related Publications</p>
							<table class="table">
								<tbody>
									<tr>
										<th scope="row">Jan 2020</th>
										<td>Some quick example text to build on the card title and make up the bulk of the card's content</td>
									</tr>
									<tr>
										<th scope="row">Jan 2020</th>
										<td>Title of Publication</td>
									</tr>
									<tr>
										<th scope="row">Jan 2020</th>
										<td>Title of Publication</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row" id="relevant-publications">
					<div class="card relevant-news">
						<div class="card-body">
							<p>Related News</p>
							<table class="table">
								<tbody>
									<tr>
										<th scope="row">Jan 2020</th>
										<td>Some quick example text to build on the card title and make up the bulk of the card's content</td>
									</tr>
									<tr>
										<th scope="row">Jan 2020</th>
										<td>Title of Publication</td>
									</tr>
									<tr>
										<th scope="row">Jan 2020</th>
										<td>Title of Publication</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--main end-->
		<%# </div>
			<!--row-->
		</div> %>
		<!--container-->
